/* Custom variables */
:root {
	--body-color: #f4f4f4;
	--hitori-color: rgb(255, 34, 144);
	--nijika-color: rgb(255, 238, 0);
	--ryo-color: rgb(34, 84, 192);
	--ikuyo-color: rgb(218, 39, 39);
	--accent-purple: rgb(196, 90, 255);
	--accent-grey: rgb(149, 149, 149);
	--accent-rainbow: linear-gradient(
		145deg,
		rgb(16, 103, 216),
		rgb(255, 230, 0),
		rgb(218, 39, 39)
	);
	--base-font-size: 16px;
	--small-font-size: 12px;
	--heading-font-size: 32px;
}

/* Global Styling */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Oswald", sans-serif;
	background-color: var(--body-color);
	color: #000;
}

/* Footer Styling */
footer {
	display: flex;
	flex-direction: column;
	background-image: url("/images/footer-section/footer-bg.png");
	color: #fff;
	padding: 10px;
	text-align: center;
}

footer * {
	color: #000;
	font-size: 1.1rem;
	/* text-decoration: none; */
}

footer p {
	margin-top: 10px;
}

#footer-social {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#footer-social img {
	padding: 0 3px;
	width: 2rem;
}

#footer-icon {
	padding: 20px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#footer-icon-img {
	width: 60%;
}

#footer-icon-arrow {
	width: 12%;
}

/* Custom Styling */
.btn {
	cursor: pointer;
}

.btn-underline {
	text-decoration: underline;
}

.text-shadow {
	text-shadow: 0 0.4rem 0.3rem rgba(0, 0, 0, 0.2);
}

.box-shadow {
	box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}

#back-btn {
	position: fixed;
	margin: 1rem 0;
	margin-left: 2.5rem;
	height: 15vw;
	min-height: 4rem;
	max-height: 6rem;
	top: calc(4rem + (clamp(4rem, 15vw, 6rem) / -2));
	background-color: var(--body-color);
}
