/* Custom variables */
:root {
	--body-color: #ffffff;
	--black-color: #000000;
	--hitori-color: rgb(229, 20, 112);
	--nijika-color: rgb(219, 126, 5);
	--ryo-color: rgb(34, 84, 192);
	--ikuyo-color: rgb(218, 39, 39);
	--accent-purple: rgb(170, 21, 228);
	--accent-yellow: rgb(255, 240, 0);
	--accent-grey: rgb(149, 149, 149);
	--accent-lightgrey: rgb(211, 211, 211);
	/* --accent-rainbow: linear-gradient(
		145deg,
		rgb(16, 103, 216),
		rgb(255, 230, 0),
		rgb(218, 39, 39)
	); */

	--xxsmall-font-size: 8px;
	--xsmall-font-size: 10px;
	--small-font-size: 12px;
	--medium-font-size: 16px;
	--large-font-size: 24px;
	--xlarge-font-size: 32px;
}

/* Global Styling */
* {
	margin: 0;
	padding: 0;
	font-family: "Oswald", sans-serif;
	-webkit-tap-highlight-color: transparent !important;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100lvh;
	background-color: var(--body-color);
	color: #000;
}

main {
	flex-grow: 1;
}

/* Footer Styling */
footer {
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-image: url("/images/footer-section/footer-bg.png");
	background-color: #fff;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

footer * {
	color: #000;
	font-size: 1.1rem;
	/* text-decoration: none; */
}

footer p {
	margin-top: 10px;
}

#footer-social {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#footer-social img {
	padding: 0 3px;
	width: 2rem;
}

#footer-social img:hover {
	filter: invert(86%) sepia(23%) saturate(2892%) hue-rotate(2deg)
		brightness(107%) contrast(108%);
}

#footer-arrow-container {
	position: absolute;
	right: 2rem;
	transform: translateY(40%);
	width: 3.5rem;
}

#footer-help-link a:hover {
	color: var(--accent-yellow);
}

/* Page Switching Styling */
#page-switch-section {
	display: flex;
	justify-content: center;
}

#page-switch-container {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
	padding: 0 1rem;
	border-radius: 5px;
	background-color: var(--accent-purple);
	color: white;
	font-size: 1.5rem;
}

/* Page Switching Styling */
#page-switch-section {
	display: flex;
	justify-content: center;
}

#page-switch-container {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
	padding: 0 1rem;
	border-radius: 5px;
	background-color: var(--accent-purple);
	color: white;
	font-size: 1.5rem;
}

/* Custom Styling */
.show {
	display: block !important;
	animation-name: adjustOpacity;
	animation-duration: 0.12s;
	animation-fill-mode: both;
	animation-direction: alternate;
}

.btn {
	cursor: pointer;
}

.btn-underline {
	text-decoration: underline;
}

.text-shadow {
	text-shadow: 0 0.4rem 0.3rem rgba(0, 0, 0, 0.2);
}

.box-shadow {
	box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}

.box-shadow-reverse {
	box-shadow: 0 -0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}

.font-poppins {
	font-family: "Poppins", sans-serif !important;
}

.font-oswald {
	font-family: "Oswald", sans-serif !important;
}

#nav-container {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 6rem;
	background-color: var(--body-color);
}

#back-btn-container {
	flex: 1;
	transition: 0.2s;
	height: 50%;
	background-color: var(--body-color);
}

#back-btn {
	padding-left: 2.5rem;
	height: 100%;
}

#back-btn:hover {
	opacity: 0.6;
}

#nav-title {
	align-self: center;
	font-size: 3rem;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#menu-btn-spacer {
	color: transparent;
	text-wrap: nowrap;
	flex: 1;
}

#exit-button {
	background-color: var(--accent-purple);
	border-radius: 5px;
	padding: 0rem 1rem 0rem 1rem;
	font-size: 1rem;
	font-weight: 200;
	margin: 3rem;
	text-decoration: none;
	color: #000;
	/* box-sizing: content-box; */
}

#forum-action-container {
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	display: flex;
	background-color: var(--body-color);
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 5rem;
}

.forum-action-btn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1rem;
	border-radius: 5px;
}

.forum-action-btn-text {
	display: flex;
	color: var(--accent-purple);
	align-items: center;
	font-size: 1rem;
}

.forum-action-btn-img {
	cursor: pointer;
	width: 2rem;
}
