/* Landing Page */

/* Desktop (>=1400px, landscape): 1920×1080 */
@media (orientation: landscape) and (min-width: 1400px) {
	/* Your CSS styles for Desktop */
	:root {
		font-size: 1rem;
	}
}

/* Tablet (>=768px && <=1400px, landscape): 1024x1366 */
@media (orientation: landscape) and (min-width: 768px) and (max-width: 1400px) {
	/* Your CSS styles for Tablet */
	:root {
		font-size: 1rem;
	}
}

/* Mobile (<=768px, portrait): 390×844 */
@media (orientation: portrait) and (max-width: 768px) {
	:root {
		font-size: 0.9rem;
	}
}

@media screen and (orientation: portrait) and (max-width: 450px) {
	:root {
		font-size: 0.7rem;
	}
}

@media screen and (orientation: portrait) and (max-width: 320px) {
	:root {
		font-size: 0.5rem;
	}

	#logo {
		padding: 25% !important;
	}
}
