#menu-btn {
	position: fixed;
	z-index: 9;
	height: 4.5rem;
	transform: translateY(calc((6rem - 100%) / 2));
	/* min-height: 4rem;
	max-height: 6rem;
	top: calc(4rem + (clamp(4rem, 15vw, 6rem) / -2)); */
	right: 2rem;
	background-color: var(--body-color);
	border: 1px solid var(--accent-purple);
	border-radius: 6px;
	box-shadow: 0 0.4rem 0.4rem 0.2 var(--black-color);
}

#sidebar-container {
	padding: 2.8rem;
}

#profile-container {
	position: absolute;
	display: flex;
	top: calc(3.5rem + -4.5em / 2);
	height: 4.5em;
	width: 4.5em;
}

#profile-img {
	height: 4.5em;
	width: 4.5em;
	background-color: #ddd;
	border-radius: 100%;
	height: 100%;
	max-width: 15rem;
	border: none;
	object-fit: cover;
}

#profile-name {
	color: var(--black-color);
	align-self: center;
	font-size: 2rem;
	padding-left: 1.4rem;
}

.sidebar {
	position: fixed;
	height: 100lvh;
	width: 100%;
	clip-path: inset(0 100% 0 0);
	z-index: 9;
	background-image: url("/images/side-menu/hamburger-bg.png");
	overflow-x: hidden;
	transition: 0.24s;
}

#nav-buttons {
	padding-top: 4rem;
}

.sidebar a.nav-btn {
	padding: 0.75rem 0rem;
	text-decoration: none;
	font-size: 2.2rem;
	font-weight: bold;
	color: black;
	display: block;
	text-wrap: nowrap;
}

.nav-btn:hover,
#sidebar-container #profile-container:hover > #profile-name {
	transition: 0.2s;
	color: white !important;
}

.toggleSidebar {
	clip-path: inset(0 0 0 0);
}

.btnToggle {
	animation-name: menuButtonAnimation;
	animation-duration: 0.12s;
	animation-fill-mode: both;
	animation-direction: alternate;
}

.divider {
	height: 1px;
	background-color: black;
	width: 100%;
	margin: 0.5rem 0;
}

/* Menu button animations */
@keyframes menuButtonAnimation {
	0% {
		background-color: var(--body-color);
		border-color: var(--accent-purple);
		box-shadow: 0 0rem 0.4rem;
	}

	100% {
		background-color: transparent;
		border-color: transparent;
		box-shadow: 0 0 0;
	}
}
