#menu-btn {
    position: fixed;
    z-index: 9;
    height: auto;
    top: 3%;
    right: 4%;
    width: 15%;
    background-color: #fff;
    border: 1px solid var(--accent-purple);
    border-radius: 6px;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 9;
    
    background-color: #383838;
    background-image: url("/images/side-menu/hamburger-bg.png");
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 10px;
}
  
.sidebar a {
    padding: 20px 10px 8px 4rem;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    color: #000;
    display: block;
    transition: 0.2s;
    text-wrap: nowrap;
}
  
.sidebar a:hover {
    color: var(--hitori-color);
}
  
/* .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
} */

.toggleSidebar {
    width: 100%;
}

