main {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow-x: hidden;
}
/* item list setting */
#item-list-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2rem 2rem;
	width: 100%;
	gap: 5rem;
}
/* individual item setting */
.item-container {
	box-sizing: border-box;
	overflow: hidden;
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20rem;
	height: auto;
	border: 3px solid transparent;
	border-radius: 5px;
}
.item-container:hover {
	border: 3px solid var(--accent-grey);
}
.item-image {
	border-radius: 5px;
}
.item-name {
	padding-left: 0.5rem;
	font-size: 2rem;
	font-weight: bold;
	/* overflow setting */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-description {
	padding-left: 0.5rem;
	color: var(--accent-grey);
	font-size: 1.2rem;
	/* overflow setting */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.price-stock-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.item-price,
.item-stock {
	font-size: 1.75rem;
	font-weight: bold;
}
/* pop up settings */
#pop-up-container {
	/* position settings */
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	z-index: 3;
	/* size settings */
	width: 20rem;
	height: 30rem;
	/* display/flex settings */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 1rem;
	padding: 2rem 2rem;
	/* border settings */
	background-color: var(--body-color);
	border: 2px solid var(--ryo-color);
	border-radius: 5px;
}
.image-close-btn-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 40%;
}
.pop-up-image {
	border: 1px solid var(--ryo-color);
	border-radius: 5px;
}
#close-pop-up-btn {
	height: 1.5rem;
	width: 1.5rem;
	font-weight: bold;
	text-align: center;
	font-size: 1rem;
	border: 1px transparent var(--ryo-color);
	border-radius: 5px;
	color: var(--ryo-color);
}
#instruction {
	font-size: 1.5rem;
}
.size-selection-container {
	display: flex;
	width: 100%;
	gap: 1rem;
}
.size-btn {
	flex: 1;
	font-size: 1.2rem;
	border-radius: 5px;
}
.size-btn:hover {
	border: 2px solid var(--ryo-color);
	border-radius: 5px;
}
#add-to-cart-btn {
	font-size: 2rem;
	width: 100%;
	border: 1px solid var(--ryo-color);
	border-radius: 5px;
	/* color settings */
	color: var(--body-color);
	background-color: var(--ryo-color);
}
#add-to-cart-btn:hover {
	border: 2px solid black;
	border-radius: 5px;
}
#add-to-cart-btn:active {
	color: var(--ryo-color);
	background-color: var(--body-color);
}
.selected-btn {
	background: var(--ryo-color);
	color: var(--body-color);
}
