main {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	overflow-x: hidden;
}
/* item list setting */
#item-list-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2rem 2rem;
	width: 100%;
	gap: 5rem;
}
/* individual item setting */
.item-container {
	box-sizing: border-box;
	overflow: hidden;
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20rem;
	height: auto;
	border: 1px solid transparent;
	border-radius: 5px;
}
.item-container:hover {
	border: 3px solid lightgrey;
}

.item-image {
	border-radius: 5px;
}
.item-name {
	padding-left: 0.5rem;
	font-size: 2rem;
	font-weight: bold;
	/* overflow setting */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.item-description {
	padding-left: 0.5rem;
	color: var(--accent-grey);
	font-size: 1.2rem;
	/* overflow setting */
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.price-stock-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.item-price,
.item-stock {
	font-size: 1.75rem;
}

/* pop up settings */
#pop-up-container {
	/* position settings */
	position: fixed;
	right: 0px;
	bottom: 0px;
	z-index: 3;
	/* size settings */
	width: 50%;
	max-width: 20rem;
	height: 50%;
	max-height: 30rem;
	/* display/flex settings */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	padding: 2rem 2rem;
	/* border settings */
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
}

.pop-up-image {
	height: 30%;
	border: 1px solid black;
}

.size-btn {
	height: 2rem;
	width: 5rem;
}
#add-to-cart-btn {
	height: 2rem;
	width: 100%;
}
