main {
	margin-bottom: 5rem;
}

#nav-container {
	z-index: 1;
}

#nav-title {
	font-size: 2rem;
}

#post-section .thread {
	padding: 0.5rem;
	border: 2px solid var(--hitori-color);
	border-radius: 10px;
	box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
}

.post-link-container {
	border-left: 0;
}

.topic-header {
	position: relative;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.section-divider {
	margin-top: 3rem;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid var(--accent-lightgrey);
	opacity: 0.5;
}

#post-section {
	background-color: var(--body-color);
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	gap: 2rem;
	width: 100%;
	max-width: 40rem;
}

.post-link-container:hover {
	background-color: var(--body-color);
}

#post-content {
	font-size: 1.2rem;
}

#comment-section {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	gap: 1rem;
	width: 100%;
	max-width: 40rem;
	margin-top: 2rem;
}

#comment-section-fixed-box {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	border-top: 1px solid var(--accent-purple);
	gap: 0.5rem;
	background-color: var(--body-color);
}

#comment-section .thread {
	width: 95%;
	padding: 0;
	border-color: var(--ryo-color);
}

#comment-section .thread-header {
	font-size: 1.2rem;
}

#comment-section .post-title {
	font-size: 1.4rem;
	width: 100%;
}

#comment-signin-container {
	display: flex;
	height: 5rem;
	width: 100%;
}

#comment-signin-text {
	font-size: 1.25rem;
	margin: auto;
}

#comment-signin-text a {
	text-decoration: underline;
	color: var(--accent-purple);
}

#comment-signin-text a:hover {
	opacity: 0.7;
}

#comment-post-container {
	/* border: none; */
	flex-direction: row;
	border-radius: 0;
	padding: 0;
	margin: 1rem;
	border: none;
	gap: 0;
	/* height: 3rem; */
}

#comment-post-input {
	height: 2rem;
	max-height: 10rem;
	padding: 0;
	margin: 0.5rem 1rem;
	width: 100%;
}

#comment-post-btn-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 1rem;
	/* width: auto; */
	/* padding: 0 1rem 0.5rem 1rem; */
}

.comment-post-btn {
	padding: 0 0.1rem;
}

/* #comment-post-clear {
	background-color: var(--ikuyo-color);
} */

#comment-post-submit {
	stroke: var(--accent-lightgrey);
	height: 3rem;
	width: 3rem;
}
