#forum-sidebar-container {
	display: none;
	flex-direction: column;
	position: fixed;
	top: 0;
	padding-top: 8rem;
	height: 100%;
	width: 15rem;
	gap: 2rem;
	border-right: 1px solid var(--hitori-color);
	background-color: var(--body-color);
}

/* Media Queries */
@media (orientation: landscape) and (min-width: 1400px) {
	.forum-action-btn-container {
		transition: 0.12s;
		cursor: pointer;
		display: flex;
		flex-direction: row;
		align-items: center;
		/* justify-content: center; */
		padding: 1rem 0 1rem 4rem;
		gap: 1rem;
		border-radius: 0;
	}

	.forum-action-btn-container:hover {
		background-color: var(--accent-lightgrey);
	}

	.forum-action-btn-text {
		font-size: 1.5rem;
	}
}
