#music {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	gap: 1rem;
}

#music-header {
	color: var(--hitori-color);
	font-size: 3rem;
}

#album-container {
	display: flex;
	flex-direction: column;
	text-shadow: none;
	padding: 5px 20px;
	gap: 2rem;
}

#album-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#album-cover-container,
#album-info-container {
	width: 50%;
}

#album-cover {
	width: 100%;
	border: 1.5px solid #000;
	border-radius: 10px;
}

#album-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* font-size: 0.9rem; */
}

#album-info-container > * {
	padding: 0 0;
}

#album-name {
	font-size: 1.4rem;
}

#album-artist,
#album-desc {
	font-size: 1.2rem;
}

#album-artist {
	color: var(--hitori-color);
}

#album-link {
	display: flex;
	justify-content: center;
}

#album-link a {
	width: 17%;
	padding: 12px 5px;
}

#album-link img {
	width: 100%;
}

#album-song-list {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.song {
	position: relative;
	cursor: pointer;
	display: flex;
	width: 100%;
	margin: 0 0 1rem 0;
	justify-content: space-between;
	font-size: 1.8rem;
	border: 2px solid transparent;
	border-radius: 10px;
}

.song > div {
	display: flex;
	align-items: center;
	text-align: center;
}

.play-pause-btn {
	display: none;
	position: absolute;
	height: 2rem;
	left: 2.5rem;
	top: 50%;
	transform: translate(-50%, -50%);
}

.song:hover {
	border-color: rgba(229, 20, 111, 0.3);
}

.song:hover .play-pause-btn {
	display: block !important;
}

.song:hover .song-index {
	opacity: 0 !important;
}

.song.selected {
	border-color: var(--hitori-color);
}

.song-index,
.song-length {
	padding: 0 2rem;
	color: var(--hitori-color);
}

/* Audio widget */
.audio-widget {
	z-index: 1;
	position: sticky;
	bottom: 0;
	background-color: var(--body-color);
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
	box-sizing: border-box;
	border-top: 1px solid var(--hitori-color);
}

#playback-seeker-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 1rem;
	height: 1.5rem;
}

#play-pause,
.play {
	background: none;
	border: none;
	cursor: pointer;
	/* padding: 5px 10px; */
	/* border-radius: 5px; */
	/* background-color: var(--hitori-color); */
	color: #fff;
	height: 100%;
}

.progress-container {
	flex: 1;
	background-color: #ddd;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}

.progress {
	background-color: var(--hitori-color);
	height: 100%;
	width: 0%;
}

#current-time,
#duration-divider,
#duration {
	font-size: 1rem;
}

#volume-control-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-self: flex-start;
	width: 40%;
	gap: 1rem;
}

#volume-slider {
	cursor: pointer;
	width: 100%;
}

#volume-icon {
	cursor: pointer;
	width: 2.5rem;
	cursor: pointer;
}

input[type="range"] {
	accent-color: var(--hitori-color);
}

/* Landscape */
@media screen and (orientation: landscape) {
	#album-container {
		max-width: 50rem;
	}

	.audio-widget {
		bottom: 1rem;
		width: 70%;
		max-width: 60rem;
		border-radius: 10px;
		border-top: 1px solid var(--hitori-color);
		box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
	}
}

/* Specific Media Queries */
/* <300px */
@media screen and (orientation: portrait) and (max-width: 300px) {
	#album-header {
		flex-direction: column;
	}

	#album-cover-container,
	#album-info-container {
		width: 95%;
	}

	#album-name {
		font-size: 2rem;
	}

	#album-artist,
	#album-desc {
		font-size: 1.7rem;
	}
}

/* <230px */
@media screen and (orientation: portrait) and (max-width: 230px) {
	#album-name {
		font-size: 1.4rem;
	}

	#album-artist,
	#album-desc {
		font-size: 1.2rem;
	}

	.song {
		font-size: 1.4rem;
	}
}
