#music {
	margin-top: 2rem;
}

#music-header {
	color: var(--hitori-color);
    font-size: 3rem;
}

#album-container {
	display: flex;
	flex-direction: column;
	text-shadow: none;
	padding: 5px 20px;
	max-width: 100%;
}

#album-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#album-cover-container,
#album-info-container {
	width: 50%;
}

#album-cover {
	width: 100%;
	border: 1.5px solid #000;
	border-radius: 10px;
}

#album-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* font-size: 0.9rem; */
}

#album-info-container > * {
	padding: 0 0;
}

#album-name {
	font-size: 1.4rem;
}

#album-artist,
#album-desc {
	font-size: 1.2rem;
}

#album-artist {
	color: var(--hitori-color);
}

#album-link {
	display: flex;
	justify-content: center;
}

#album-link a {
	width: 17%;
	padding: 12px 5px;
}

#album-link img {
	width: 100%;
}

#album-song-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0 0 0;
}

.song {
	position: relative;
	cursor: pointer;
	display: flex;
	width: 100%;
	margin: 0 0 1rem 0;
	justify-content: space-between;
	font-size: 1.8rem;
	border: 2px solid transparent;
	border-radius: 10px;
}

.song > div {
	display: flex;
	align-items: center;
	text-align: center;
}

.play-pause-btn {
	display: none;
	position: absolute;
	height: 2rem;
	left: 2.5rem;
	top: 50%;
	transform: translate(-50%, -50%);
}

.song:hover {
	border-color: rgba(229, 20, 111, 0.3);
}

.song:hover .play-pause-btn {
	display: block !important;
}

.song:hover .song-index {
	opacity: 0 !important;
}

.song.selected {
	border-color: var(--hitori-color);
}

.song-index,
.song-length {
	padding: 0 2rem;
	color: var(--hitori-color);
}

/* Audio widget */
.audio-widget {
	z-index: 1;
    position: fixed;
    bottom: 20px;
    left: 50%;
	transform: translateX(-50%);
    background-color: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30rem;
}

#play-pause, .play {
    background: none;
    border: none;
    cursor: pointer;
    /* padding: 5px 10px; */
    /* border-radius: 5px; */
    /* background-color: var(--hitori-color); */
    color: #fff;
	height: 20px;
	width: 20px;
}

.progress-container {
    flex: 1;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.progress {
    background-color: var(--hitori-color);
    height: 10px;
    width: 0%;
}

#current-time, #duration {
    font-size: 14px;
}

#volume-slider {
    width: 60px;
}

input[type='range']{
	accent-color: var(--hitori-color);
}

/* Specific Media Queries */
/* <300px */
@media screen and (orientation: portrait) and (max-width: 300px) {
	#album-header {
		flex-direction: column;
	}

	#album-cover-container,
	#album-info-container {
		width: 95%;
	}

	#album-name {
		font-size: 2rem;
	}
	
	#album-artist,
	#album-desc {
		font-size: 1.7rem;
	}
}

/* <230px */
/* @media screen and (orientation: portrait) and (max-width: 230px) {
	#album-name {
		font-size: 1.4rem;
	}
	
	#album-artist,
	#album-desc {
		font-size: 1.2rem;
	}

	.song {
		font-size: 1.4rem;
	}
} */