/* Global Styling */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Oswald", sans-serif;
	background-color: #f4f4f4;
	color: #000;
}

/* Banner Styling */
#banner {
	display: flex;
	position: relative;
	justify-content: center;
	overflow-x: clip;
	z-index: 5;
}

.banner-overlap {
	position: absolute;
}

#banner-img {
	min-width: 130%;
}

#banner-img-overlap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75%;
	bottom: -1.2%;
}

#banner-logo {
	width: 70%;
}

#banner-text {
	position: relative;
	text-wrap: nowrap;
}

#banner-name {
	color: var(--accent-purple);
	font-size: 16vw;
	line-height: 82%;
}

#banner-desc {
	position: absolute;
	color: var(--nijika-color);
	font-size: 6.8vw;
	bottom: 33%;
	left: 5.2%;
}

/* Characters Section */
#char-container {
	display: flex;
	justify-content: center;
}

#char-btn-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	padding: 5% 5%;
}

#char-btn-list li {
	z-index: 4;
	font-size: 1.8rem;
	font-weight: bold;
}

#char-header {
	z-index: 4;
	font-size: 12vw;
	padding: 6vw 0 0 8vw;
	color: var(--hitori-color);
	transition: color 0.5s;
}

/* Character Card Styling */
.char-card {
	position: relative;
	margin: 0 1em 10em 0;
	width: 100%;
	overflow-x: clip;
}

#band-ribbon {
	position: absolute;
	width: 100%;
	z-index: -1;
	background-color: var(--hitori-color);
	color: #fff;
	top: 14%;
	text-align: center;
	font-size: 16vw;
	font-weight: 700;
}

#char-name-ribbon {
	z-index: 1;
	position: absolute;
	transform-origin: 7% 60%;
	transform: rotate(90deg);
	text-wrap: nowrap;
	font-size: 24vw;
	font-weight: 700;
	color: transparent;
	text-transform: uppercase;
	text-shadow: 0.4rem 0 0.1rem rgba(0, 0, 0, 0.04);
	-webkit-text-stroke: 0.5vw var(--accent-grey);
}

#char-img-container {
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
}

#char-img,
#char-img-layer {
	width: 70%;
	z-index: 2;
}

#char-img-layer {
	position: absolute;
	margin-left: 4px;
	margin-top: 4px;
	z-index: 1;
	animation-duration: 0.3s;
}

.char-heads {
	z-index: 1;
	position: absolute;
	height: 100%;
	max-height: 46%;
	right: 0;
	animation-delay: 200ms;
}

#card-text-container {
	transition: 0.2s;
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 3;
	bottom: -5%;
	right: 5%;
	max-width: 20rem;
	width: 100%;
}

#char-name {
	font-size: 2.6rem;
	color: var(--hitori-color);
}

#char-va,
#char-role {
	font-size: 1.8rem;
}

#char-desc {
	font-size: 1.3rem;
}

/* News & Forum Section */
#news-forum {
	background-color: #ddd;
	padding: 20px;
}

/* Music Section */
#music {
	background-color: #ccc;
	padding: 20px;
}

/* The Series Section */
#the-series {
	background-color: #bbb;
	padding: 20px;
}

/* Store Section */
#store {
	background-color: #aaa;
	padding: 20px;
}

/* CSS animation for header poster */
@keyframes adjustBrightness {
	0% {
		filter: brightness(0%);
	}
	25% {
		filter: brightness(35%);
	}
	50% {
		filter: brightness(35%); /* Delay or pause */
	}
	75% {
		filter: brightness(15%);
	}
	100% {
		filter: brightness(90%);
	}
}

@keyframes adjustOpacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes adjustColor {
	from {
		background-color: #000;
	}

	to {
		background-color: #fff;
	}
}

/* Apply animations on page load*/
/* Comment these out if they get in the way when developing */
#banner-img {
	filter: brightness(0%);
	animation: adjustBrightness 2s linear 0.2s forwards;
}

#banner-img-overlap {
	opacity: 0;
	animation: adjustOpacity 1s linear 2.1s forwards;
}

main {
	opacity: 0;
	animation: adjustOpacity 1s linear 2.1s forwards;
}

body {
	background-color: #000;
	animation: adjustColor 0.8s linear 2.1s forwards;
}

footer {
	opacity: 0;
	animation: adjustOpacity 0.3s linear 0.5s forwards;
}
