/* Global Styling */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Oswald", sans-serif;
	background-color: #f4f4f4;
	color: #000;
}

/* Banner Styling */
#banner {
	display: flex;
	position: relative;
	justify-content: center;
	overflow-x: clip;
	z-index: 5;
}

.banner-overlap {
	position: absolute;
}

#banner-img {
	min-width: 130%;
	filter: brightness(90%);
}

#banner-img-overlap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75%;
	bottom: -1.2%;
}

#banner-logo {
	width: 70%;
}

#banner-text {
	position: relative;
	text-wrap: nowrap;
	font-size: 16vw;
}

#banner-name {
	color: var(--accent-purple);
	font-size: 100%;
	line-height: 82%;
}

#banner-desc {
	position: absolute;
	color: var(--nijika-color);
	font-size: 42.5%;
	bottom: 33%;
	left: 5.2%;
}

/* Other sections */
#other-sections {
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#other-sections > * {
	padding: 12px;
	margin: 0 25px 30px 25px;
	border-radius: 8px;
	border: 3px solid #000;
	background-color: #fff;
}

/* Forum Section */
#forum {
	/* Rainbow border */
	border-color: transparent;
	background: linear-gradient(to right, white, white), var(--accent-rainbow);
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
}

/* Music Section */
#music {
	border-color: var(--hitori-color);
}

/* The Series Section */
#series {
	border-color: var(--ikuyo-color);
}

/* Store Section */
#store {
	border-color: var(--nijika-color);
}

/* CSS animation for header poster */
@keyframes adjustBrightness {
	0% {
		filter: brightness(0%);
	}
	25% {
		filter: brightness(35%);
	}
	50% {
		filter: brightness(35%); /* Delay or pause */
	}
	75% {
		filter: brightness(15%);
	}
	100% {
		filter: brightness(90%);
	}
}

@keyframes adjustOpacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes adjustColor {
	from {
		background-color: #000;
	}

	to {
		background-color: #fff;
	}
}

/* Apply animations on page load*/

.adjustColor {
	background-color: #000;
	animation: adjustColor 0.5s linear 1.5s forwards;
}

.adjustOpacity {
	opacity: 0;
	animation: adjustOpacity 0.5s linear 1.5s forwards;
}

.adjustBrightness {
	filter: brightness(0%);
	animation: adjustBrightness 1s linear forwards;
}
