/* Global Styling */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Oswald", sans-serif;
	background-color: #f4f4f4;
	color: #000;
}

/* Banner Styling */
#banner {
	display: flex;
	position: relative;
	justify-content: center;
	overflow-x: clip;
	z-index: 5;
}

.banner-overlap {
	position: absolute;
}

#banner-img {
	min-width: 130%;
	filter: brightness(90%);
}

#banner-img-overlap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 75%;
	bottom: -1.2%;
}

#banner-logo {
	width: 70%;
}

#banner-text {
	position: relative;
	text-wrap: nowrap;
	font-size: 16vw;
}

#banner-name {
	color: var(--accent-purple);
	font-size: 100%;
	line-height: 82%;
}

#banner-desc {
	position: absolute;
	color: var(--nijika-color);
	font-size: 42.5%;
	bottom: 33%;
	left: 5.2%;
}

/* Other sections */
#other-sections {
	position: relative;
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#other-sections > * {
	padding: 12px;
	margin: 0 25px 30px 25px;
	border-radius: 8px;
	border: 3px solid #000;
	background-color: #fff;
}

#other-sections .section-container {
	padding: 0 14px;
}

#other-sections .section-header {
	font-size: 2.2rem;
	padding: 0 6px 8px 6px;
}

#other-sections .see-all-anchor {
	display: flex;
	justify-content: flex-end;
	padding: 3% 2%;
	font-size: 1.4rem;
	font-style: italic;
	color: #000;
}

/* Specific Media Queries */
@media screen and (orientation: portrait) and (max-width: 300px) {
	.section-container {
		padding: 0 !important;
	}
}