.cookies-popup {
	z-index: 8;
	position: fixed;
	bottom: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	gap: 1.5rem;
	padding: 1.5rem 2.5rem;
	width: 85%;
	max-width: 50rem;
	height: fit-content;
	background-color: var(--body-color);
	border: 1px solid var(--black-color);
	border-radius: 0.5rem;
	box-sizing: border-box;
	text-align: center;
}

.cookies-popup-text {
	font-size: 1.2rem;
}

.cookies-popup-text a {
	text-decoration: underline;
	font-style: italic;
}

#cookies-popup-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.cookies-popup-btn {
	cursor: pointer;
	border: none;
	padding: 0.5rem;
	width: 100%;
	font-size: 1.5rem;
	border-radius: 0.5rem;
}

.cookies-popup-agree {
	background-color: var(--hitori-color);
	color: var(--body-color);
}

.cookies-popup-disagree {
	background-color: var(--body-color);
	border: 1px solid var(--hitori-color);
	color: var(--hitori-color);
}
.cookies-popup-preference {
	color: var(--black-color);
	background-color: var(--body-color);
	text-decoration: underline;
}

.cookies-popup-btn:hover {
	opacity: 0.7;
}
