/* The container */
.checkbox-container {
	display: block;
	position: relative;
	padding-left: 3.5rem;
	cursor: pointer;
	font-size: 1.25rem;
	user-select: none;
    margin: 1rem 0 1rem 0;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	border-radius: 25px;
	top: 0.05rem;
	left: 1rem;
	height: 1.7rem;
	width: 1.7rem;
	background-color: #e6e6e6;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
	background-color: #eeeeee;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    transition: 0.1s;
	background-color: #c45aff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    top: 0.3rem;
    left: 0.6rem;
    width: 0.4rem;
	height: 0.7rem;
	border: solid white;
	border-width: 0 0.2rem 0.2rem 0;
	transform: rotate(45deg);
}
