main {
	flex-direction: column;
	justify-content: flex-start;
}

#user-profile-container #profile-img {
	width: 100%;
	max-width: 15rem;
}

#menu-section-container {
	width: 100%;
	max-width: 60rem;
	padding: 0 1.5rem;
    box-sizing: border-box;
}

::placeholder {
    color: red;
}