body {
	height: calc(100vh - 60px);
}

main {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#logo {
	padding: 5rem 8rem;
}

#welcome-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 0 2rem;
}

#text-container {
	margin-bottom: 3rem;
}

#text-container > * {
	margin-bottom: 1rem;
}

#welcome-header {
	font-size: 3rem;
	color: var(--accent-purple);
}

#welcome-text {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;

	font-size: 1.5rem;
	color: var(--accent-grey);
}

#option-btn-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#option-btn-container > * {
	border-radius: 10px;
	font-weight: bold;
}

#option-btn-container a {
	text-decoration: none;
	font-size: 1.5rem;
	display: block;
	height: 100%;
	padding: 1rem;
    border-radius: 10px;
}

#login-btn {
	background-color: var(--accent-purple);
	border: 1px solid var(--accent-purple);
}

#login-btn a {
	color: #fff;
}

#login-btn:hover {
	background-color: rgb(169, 77, 219);
}

#signup-btn {
	background-color: var(--body-color);
	border: 1.5px solid var(--accent-grey);
}

#signup-btn a {
	color: var(--accent-purple);
}

#signup-btn:hover {
    background-color: rgb(224, 224, 224);

}

/* Specific Media Queries */
@media screen and (orientation: portrait) and (max-width: 300px) {
	#logo {
		padding: 25%;
	}
}